@import url("base.css");

h1 {
  margin: 8px 0;
  font-size: 200%;
}

/* Constrain the page to the viewport */
html,
body {
  block-size: 100dvb;
}

/* Center the nav's header and list */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navigation buttons have full width */
nav button {
  inline-size: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
  margin: 16px;
  padding: 0;
  list-style-type: "";
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */

/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */

/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */

/* Task 3.3. Make the main element a Flexbox container */

/* Task 3.4. Make the footer's ul a Flexbox container */

/* From here on styling from exercise 1 */
img {
  border-radius: 12px;
}

article {
  margin: 8px;
  border-radius: 16px;
  background-color: lightgray;
  padding: 16px;
  inline-size: 384px;
}

a {
  color: beige;
}

span {
  margin-inline-end: 4px;
}

.genre {
  border: solid black 1px;
  border-radius: 6px;
  background-color: darkgray;
  padding: 4px 8px;
  font-weight: bold;
}
